.radiognu_widget a,#backbutton{
  border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#3F4B52;
  color:#fff;
  padding:1px 10px;
  margin:1px 0px;
  display:inline-block;
  text-decoration:none;
  border:0;
}
#widget-message{
  position:fixed;
  top:0;
  left:230px;
  opacity:0;
  margin-top:-65px;
}
#widget-message-text{
  width:220px;
  background:#018dd8;
  border-radius:10px;
  text-align:left;
  padding:3px 9px;
  box-shadow:5px 5px 10px #222;
}
#widget-message-tip{
  width:0;
  height:0;
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  border-bottom:11px solid #018DD8;
  margin-left:25px;
  position:relative;
  z-index:999;
}
#widget-message-close{
  float:right;
  cursor:pointer;
}
#widget-message-close:hover{color:#00f;}
.radiognu_widget a:hover,#backbutton:hover{background-color:#566770;}
.radiognu_widget audio{width:290px;}
#radiognu_widget{
  text-align:center;
  font-size:13px;
  line-height:22px;
  font-family:Verdana,Arial;
}
.wid-m3u{
  margin-top:-25px!important;
  display:block!important;
  opacity:0;
}
#wid-tip-msg {
  font-size:10px;
  line-height:12px;
  background-color:#333;
  border-radius:5px;
  margin:0 3px;
  border:#000 1px solid;
  padding:3px 0;
}
#wid-tip-msg-close{
  font-size:13px;
  float:right;
  padding-right:5px;
  cursor:pointer;
  margin-top:-3px;
}
#radio_time{cursor:pointer;}
#button-normal,#button-low,#button-am{margin-top:3px;}
#button-am,#button-low{
  z-index:1;
  position:relative;
}
#backbutton{font-size:12px;}
