@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    text-shadow: 0 1px 0 #777, 0 2px 0 #000;
    background-color: #202020;
    color: #fff;
    font-size: 15px;
}

h2 {
    font: 900 30px "Open Sans", sans-serif;
    letter-spacing: -1px;
    padding-bottom: 10px;
}

a {
    color: #77f;
    text-decoration: none;
    text-shadow: #000 1px 1px 1px;
}

a:hover {
    color: #88f;
    text-decoration: underline;
    text-shadow: 0 0 15px #555;
}

li { margin-top: 5px; }

.widget_link, .widget_link:visited { color: #f6fcff; }

.widget_link:hover { color: #fff; }

.console {
    text-align: left;
    border-radius: 5px;
    border: 1px solid #000;
    background: #333;
    color: #aaa;
    text-shadow: 0 2px 0 #222;
    font-family: monospace;
    font-size: 10px;
    padding: 7px 10px;
    margin: 3px 0;
}

/* Simula el sidebar del sitio radiognu.org */

#main {
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}

#mouseinfo { margin: 10px 0; }

#news { margin-bottom: 10px; }

#news ul {
    margin-left: 20px;
    margin-top: 2px;
    width: 480px;
    text-align: justify;
}

#sidebarSim {
    margin-top: 40px;
    color: #f6fcff;
    background-color: #202020;
    width: 300px;
    float: left;
    left: 15%;
    position: relative;
    text-shadow: none;
}

#sidebarSim h2 {
    background: url("../img/h2-sidebar.png") no-repeat;
    font-size: 17px;
    height: 25px;
    padding: 20px 0 0 20px;
    text-shadow: #555 1px 1px 2px;
    text-transform: capitalize;
    width: 280px;
}

#textwidget {
    border-left: 1px solid #090909;
    border-right: 1px solid #090909;
    background-color: #242424;
}

.widget-bg-down {
    width: 300px;
    height: 5px;
    background: url(../img/li-sidebar-bottom.png) no-repeat;
    float: left;
}

/* Formato para el aviso desplegable (por ahora sin uso) */
#alert {
    width: 40%;
    font-weight: bold;
    color: red;
    text-align: justify;
}
