.nojs {
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #eee;
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    cursor: default;
    padding: 5px;
    overflow: hidden;
}

#radiognu-widget {
    padding: 5px;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    cursor: default;
    overflow: hidden;
}

#radiognu-widget p {
    margin: 0;
    padding: 0;
}

#wid-message {
    position: fixed;
    top: 0;
    left: 25%;
    opacity: 0;
    margin-top: -65px;
}

#wid-message-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 11px solid #018DD8;
    margin-left: 25px;
    position: relative;
    z-index: 999;
}

#wid-message-text {
    width: 220px;
    background: #018dd8;
    border-radius: 10px;
    text-align: left;
    padding: 3px 9px;
    box-shadow: 5px 5px 10px #222;
}

#wid-message-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 0;
    padding: 1px 5px;
}

#wid-message-close:hover { color: #00f; }

#wid-tip-msg  {
    font-size: 10px;
    line-height: 12px;
    background-color: #333;
    border-radius: 5px;
    border: #000 1px solid;
    padding: 3px 0;
}

#wid-tip-msg-close {
    font-size: 13px;
    float: right;
    padding-right: 5px;
    cursor: pointer;
    margin-top: -3px;
}

#wid-utc-local-time {
    margin-top: -1px;
    cursor: pointer;
}

#wid-chooser {
    float: left;
    width: 100%;
    border: 1px solid #000;
    border-radius: 7px;
    margin: 3px auto;
}

.wid-hrznt-choose {
    float: left;
    width: 45.5%;
    margin: 2%;
    height: 80px;
    cursor: pointer;
}

#wid-choose-web {
    border-right: 1px dashed #181818;
    float: left;
}

#wid-choose-pc {
    border-left: 1px dashed #181818;
    float: right;
}

.wid-choose-text { }

#wid-choose-web-text { }

#wid-choose-pc-text { }

.wid-btn { margin-top: 3px; }

.wid-btn,#wid-back-button {
    border-radius: 5px;
    background-color: #3F4B52;
    color: #fff;
    padding: 1px 10px;
    margin: 2px 0px;
    display: inline-block;
    text-decoration: none;
    border: 0;
    text-shadow: 0 1px 1px #000;
    position: relative;
    z-index: 1;
}

.wid-btn:hover,#wid-back-button:hover {
    background-color: #566770;
    color: inherit;
    text-decoration: none;
    text-shadow: 0 -1px 1px #000;
}

.wid-info-text { font-style: italic; }

#radiognu-widget audio { width: 290px; }

#wid-back-button {
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

#wid-extra-info { font-size: 9px; }

#wid-playogg { margin-top: 10px; }

#wid-playogg img { border-style:  none; }

#wid-player audio {
    width: 280px;
    text-align: center;
}