<div id="radiognu-widget" style="height:0;">
    <div id="wid-message">
        <div id="wid-message-arrow"></div>
        <div id="wid-message-text">
            Se ha activado automáticamente el reproductor por URL. ;)
        </div>
        <span id="wid-message-close" title="Cerrar">[&times;]</span>
    </div>
    <p>Widget RadioÑú <sup>v2.1.0</sup></p>
    <div id="wid-tip-msg">
        <span id="wid-tip-msg-close" title="Cerrar">&times;</span>
        INFO: Puedes revisar la lista de canciones que suenan por RadioÑú en
        <a href="https://wiki.radiognu.org/musica" class="wid-link"
            target="_blank">éste enlace</a>.
    </div>
    <div id="wid-utc-local-time">
        Son las
        <span id="wid-time-clock" title="Clic para cambiar a hora local">
            <span id="wid-time-clock-hour"></span><span
                id="wid-time-clock-dial">:</span><span
                id="wid-time-clock-minute"></span>
            <span id="wid-time-zone"></span>
        </span>
    </div>
    <span id="wid-select-text">Seleccione una señal</span>:
    <div id="wid-chooser">
        <span id="wid-norm-btn" class="wid-btn-container">
            <a href="#radiognu-normal" class="wid-btn">Normal</a>
        </span>
        <div id="normal-info" class="wid-info-text">
            Señal RECOMENDADA de RadioÑú
        </div>
        <span id="wid-low-btn" class="wid-btn-container">
            <a href="#radiognu-liviana" class="wid-btn">Liviana</a>
        </span>
        <div id="low-info" class="wid-info-text">
            Para conexiones lentas o MÓVILES
        </div>
        <span id="wid-am-btn" class="wid-btn-container">
            <a href="#radiognu-am" class="wid-btn">RadioÑú AM</a>
        </span>
        <div id="am-info" class="wid-info-text">
            Ideal para conexiones SUPERLENTAS
        </div>
        <a href="https://audio.radiognu.org/radiometagnu.ogg.m3u"
            class="wid-btn">Normal+Info
        </a>
        <div id="meta-info" class="wid-info-text">
            M3U con metadatos para tu reproductor
        </div>
        <a href="https://audio.radiognu.org/radiometagnu2.ogg.m3u"
            class="wid-btn">Liviana+Info
        </a>
        <div id="lowmeta-info" class="wid-info-text">
            M3U con metadatos para tu reproductor
        </div>
        <a href="https://audio.radiognu.org/radiometagnuam.ogg.m3u"
            class="wid-btn">AM+Info
        </a>
        <div id="ammeta-info" class="wid-info-text">
            M3U con metadatos para tu reproductor
        </div>
        <div id="wid-stream-info"></div>
        <button id="wid-back-button">Volver</button>
    </div>
    <div id="wid-radio-stats">
        <p>Hay <span id="wid-escuchas"></span> Ñuescuchas</p>
        <span id="wid-live-status"></span>:
        <span id="wid-artista"></span> -
        <span id="wid-titulo"></span>
    </div>
    <span id="wid-extra-info">
        El formato de nuestra señal es
        <a href="https://es.wikipedia.org/wiki/Ogg" class="wid-link"
            target="_blank">Ogg</a>
        <a href="https://es.wikipedia.org/wiki/Vorbis" class="wid-link"
            target="_blank">Vorbis</a>.
        <a href="https://www.fsf.org/es/playogg/spread" class="wid-link"
            target="_blank">¿Por qué?</a>
    </span>
    <div id="wid-playogg">
        <a href="https://playogg.org" target="_blank">
            <img src="https://static.fsf.org/playogg/play_ogg_small.png" alt=""/>
        </a>
    </div>
</div>
